* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

body{
    background-color: rgb(228, 226, 226);
}

header{
    background-color: white;
}

.container {
    height: 60px;
    margin: 0 auto;
    padding-left: 10px;
}

.logo{
    padding-top: 5px;
}

.logo-title {
    font-size: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
}

.content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.container-main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-list {
    margin-bottom: 20px;
}

.add {
    margin-bottom: 5px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-list {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.format {
    display: inline-block;
}

#add-task {
    background-color: rgb(0, 106, 255);
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: white;
}

#add-section {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: rgb(183, 183, 183);
    border: 1px solid grey;
}


